.center-table {
    margin: 10px;
}

.center-table tbody {
    line-height: 100px;
}

.center-table img {
    width: 75px;
    height: 100px;
    min-width: 75px;
    max-height: auto;
    float: left;
    margin: 2px;
    padding: 2px;
}

form {
    margin-top: 20px;
    margin-left: 25px;
    float: left;
}