body {
    background-color: #dddddd;
}

.portrait {
    margin: 10%;
    text-align: center;
}

.center-table {
    margin: 10px;
}

.center-table tbody {
    line-height: 100px;
}

.center-table img {
    width: 75px;
    height: 100px;
    min-width: 75px;
    max-height: auto;
    float: left;
    margin: 2px;
    padding: 2px;
}

#contact-form {
    margin-top: 150px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 6rem;
    background-color: #4b4b4b80;
    border-radius: 10px;
    border: 1px solid #4b4b4b80;
}

.form-control, .form-check-input {
    border: 2px solid #00000080;
}