body {
    background-color: #dddddd;
}

.portrait {
    margin: 10%;
    text-align: center;
}

.center-table tbody {
    line-height: 100px;
}

.center-table img {
    width: 75px;
    height: 100px;
    min-width: 75px;
    max-height: auto;
    float: left;
    margin: 2px;
    padding: 2px;
}

#borders-form {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #ffffffc5;
}

#borders-form form {
    margin: 35px;
}

.form-control, .form-check-input, .form-check-input, .form-select {
    border: 1.5px solid #00000080;
}

.bocetos {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}